.signature-pad-canvas {
  display: block;
  /* Needed for making the width of the canvas element grow on screens with high pixel density without */
  /* making the canvas bigger than its container. */
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signature-pad-size-picker-slider {
  --slider-dot-size: 12px;
  --slider-dot-color: #000;
  display: block;
  appearance: none;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
  margin-block: 1rem;
}
.signature-pad-size-picker-slider:hover {
  opacity: 1;
}

.signature-pad-size-picker-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--slider-dot-size);
  height: var(--slider-dot-size);
  border-radius: 50%;
  background: var(--slider-dot-color);
  cursor: pointer;
}

.signature-pad-size-picker-slider::-moz-range-thumb {
  width: var(--slider-dot-size);
  height: var(--slider-dot-size);
  border-radius: 50%;
  background: var(--slider-dot-color);
  cursor: pointer;
}
